/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Roboto:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* Shared Style */
.btn-primary {
  color: white;
  border-radius: 5px;
  background: #fd6e0a;
  padding: 12px 25px;
  border: none;
  font-size: 20px;
  font-weight: 700;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.nav-title {
  align-items: center;
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.nav-title span {
  color: #fd6e0a;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
  align-items: center;
}
nav ul li a {
  color: #474747;
  text-decoration: none;
}

/* Header */
.header {
  padding-top: 1rem;
  height: 110vh;
  width: 100%;
  background-color: #fff8f3;
  background-repeat: no-repeat;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-position: bottom -100px right -50px, center left 10px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 0px 150px;
}
.banner-content > a {
  text-decoration: none;
  margin-right: 1rem;
}
.pofile-picture {
  width: 700px;
  opacity: 1;
}
.banner-greeting {
  font-size: 35px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 65px;
  font-weight: 700;
}
.banner-content {
  max-width: 585px;
}
.banner-content p {
  color: #757575;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* Main Section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}
/* About section */
.about {
  background-color: #fff8f3;
  padding: 130px;
  border-radius: 10px;
  margin: 130px 0;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  margin-top: 1rem;
}
.info-title {
  font-weight: normal;
  font-size: 19px;
  color: #757575;
}
.info-description {
  font-weight: bolder;
  font-size: 20px;
  color: #474747;
}
.about-info-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* What I Do */
.do-description {
  padding: 30px 150px;
  text-align: center;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.skill-description {
  line-height: 2rem;
  color: #757575;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill .skill-description {
  text-align: justify;
}

/* Resume */
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-title {
  margin-bottom: 5rem;
}
.resume-item {
  width: 80%;
}
.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 2rem;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
hr {
  width: 80%;
  border: 2px solid #757575;
}
.resume-item-institute {
  color: #757575;
  margin-bottom: 1rem;
}
.resume-item-description {
  color: #757575;
  margin-bottom: 1rem;
  line-height: 2rem;
}
.download-cv {
  margin-top: 60px;
  text-align: center;
}
.download-cv a {
  text-decoration: none;
}
/* Footer */
.footer-title {
  text-align: left;
  margin-bottom: 2rem;
}
footer {
  padding: 130px 230px;
  margin-top: 100px;
  background-color: #fff8f3;
  display: flex;
  gap: 100px;
  gap: 50px;
}
.footer-section-description {
  margin-bottom: 2rem;
}
footer .type,
textarea {
  display: block;
  margin-bottom: 24px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  border: none;
}
.social-links a {
  margin-top: 1rem;
  margin-right: 1.5rem;
}
.footer-column {
  width: 50%;
}
.type2 {
  width: 100%;
}
